
.ant-form-item-label > label {
    color: #01B3D7 !important;
}

/* .background-img{
    background-image: url('../img/image3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
} */